.piano-roll-container {
  background-color: #F3EAD3; /* Parchment */
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #D1C4A7; /* Aged Paper */
  color: #5A4C3D; /* Sepia */
}

.piano-roll-grid {
  grid-template-columns: 80px repeat(16, 1fr);
  grid-auto-rows: 24px;
  width: max-content;
  background-color: #E2D6B5; /* Light Parchment */
}

.piano-key {
  background-color: #D1C4A7; /* Aged Paper */
  color: #000000; /* Black */
  border: 1px solid #BCAE95; /* Darker Aged Paper */
}

.note {
  background-color: #8C7B6C; /* Faded Ink */
  border: 1px solid #756555; /* Darker Faded Ink */
}

.vintage-note-active {
  background-color: #5A4C3D; /* Sepia */
}

.vintage-note-playing {
  background-color: #A0522D; /* Sienna */
}

div::-webkit-scrollbar {
  height: 8px;
}

div::-webkit-scrollbar-track {
  background: #E2D6B5; /* Light Parchment */
}

div::-webkit-scrollbar-thumb {
  background: #8C7B6C; /* Faded Ink */
  border-radius: 4px;
  border: 1px solid #756555; /* Darker Faded Ink */
}

select {
  background-color: #D1C4A7; /* Aged Paper */
  border: 1px solid #BCAE95; /* Darker Aged Paper */
  color: #5A4C3D; /* Sepia */
}
